#header
  #logo.search
    %a{:href => "/"} Voodoo
  #form.search
    = haml :form
  #searchInfo
    - results_len = @results.length
    Voodoo's #{@search_count} Search<br>
    Hit #{results_len} entries within #{"%.2f" % @time_cost} seconds<br>
    Database last updated at #{@db_update}
  
#results
  - if results_len == 0
    %span{:style => "color:red"} Oops! No result found.
  - else
    - @results.each_with_index do |r,i|
      = "<span class='lineNumber'>%#{results_len.to_s.length}d. </span><span class='filePath'>%s</span><br>\n" % [i+1, r]
